@font-face{
    font-family: "mainFont";
    src: url("./asset/redhat.ttf") format("woff");
}
$mainBg: rgb(240, 240, 240);

* {
    margin: 0;
    font-family: "mainFont";
    box-sizing: border-box;
}
.content {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 150px 1fr;

    .header-container {
        grid-area: 1 / 1 / 2 / 3;
        background-color: $mainBg;
    }

    .messages-container {
        height: calc(100vh - 190px);
        grid-area: 2 / 1 / 3 / 2;
        padding: 20px;

        .message_header-container {
            display: flex;
            gap: 5px;

            > * {
                flex: 1;
                height: 30px;
                border-radius: 3px;
                border: none;
            }
        }

        .message_content-container {
            margin-top: 10px;
            background-color: $mainBg;
            height: calc(100vh - 230px)
        }
    }

    .main-content {
        grid-area: 2 / 2 / 3 / 3;
        padding: 20px;
        background-color: $mainBg;

        .schedule-container {
            background-color: white;
            display: flex;
            gap: 5px;
        }
    }
}

.schedule-container {
    .single-column {
        height: 900px;
        width: 120px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .single_header-container {
            background-color: rgb(32, 90, 72);
            border-radius: 5px;
            border-left: 3px solid rgb(32, 90, 72);
            border-right: 3px solid rgb(32, 90, 72);
            pointer-events: none;

            div {
                text-align: center;
            }

            .hd-container-month {
                color: white;
                font-size: 10px;
                color:rgb(167, 194, 185);
                letter-spacing: 1px;
            }

            .hd-container-day {
                font-size: 15px;
                background-color: white;
                font-weight: 900;
                color: rgb(36, 36, 36);
            }

            .hd-container-weekday {
                font-size: 13px;
                letter-spacing: 2px;
                color: white;
            }
        }

        .person-container {
            padding: 5px;
            background-color: rgb(178, 223, 223);
            display: flex;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;

            .person-container_name {
                font-weight: 600;
                text-align: center;
                flex: 1;
                pointer-events: none;
            }

            .person-container_time {
                font-size: 10px;
                text-align: center;
                flex: 1;
                pointer-events: none;
            }
        }
    }

    .btn {
        background-color: rgb(181, 212, 208);
        font-size: 20px;
        border:none;
        border-radius: 4px;
        font-weight: 800;
        cursor: pointer;
    }

    .add-person-btn--inactive {
        display: none;
        @extend .btn;

    }

    .add-person-btn--active {
        display: block;
        @extend .btn;
    }
}

